:host {
  max-width: 800px;
}

.timer {
  max-width: 800px;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  background: #eee;
  box-shadow: 2px 1px gray;
  transition: 1s ease-in;
  // styles timer title
  .timer-title {
    font-family: Orbitron;
    font-size: 30px;
    padding: 1em;
    font-weight: bold;
  }

  // styles timer info
  .timer-info,
  .message {
    font-family: Orbitron, sans-serif;
    padding: 1em;
    font-size: 30px;
  }
}

.timer.red {
  background: orange;
}

// styles for form.
label {
  color: steelblue;
  font-size: 18px;
}

form {
  padding: 1em;
}

input {
  margin: 0.5em;
  padding: 0.25em;
  width: 75px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
}
