<section>
  <div class="title">
    <ng-content></ng-content>
  </div>
  <app-weather-picture [iconImage]="futureDay.icon"></app-weather-picture>
  <div class="time">{{futureDay.time * 1000| date:'fullDate'}}</div>
  <div class="row">
    <div class="column">
      <div class="summary">Summary</div>
      <div class="name">High Temp</div>
      <div class="name">Low Temp</div>
      <div class="name">Percip Chance</div>
      <div class="name">Humidity</div>
      <div class="name">UV Index </div>
      <div class="name">Cloud Cover</div>
    </div>
    <div class="column">
      <div class="summary">{{futureDay.summary}}</div>
      <div class="value">{{futureDay.temperatureHigh}} &#8457;</div>
      <div class="value">{{futureDay.temperatureLow}} &#8457;</div>
      <div class="value">{{futureDay.precipProbability | percent}}</div>
      <div class="value">{{futureDay.humidity | percent}}</div>
      <div class="value">{{futureDay.uvIndex}}</div>
      <div class="value">{{futureDay.cloudCover | percent }}</div>
    </div>
  </div>
</section>