<div class="timer">
  <div class="timer-title">Super Basic Timer</div>
  <div class="button-block">
    <button class="timer__button"
            mat-raised-button
            color="primary"
            (click)="startTimer()">Start Timer</button>
    <button class="timer__button"
            mat-raised-button
            (click)="stopTimer()">Stop Timer</button>
    <button class="timer__button"
            mat-raised-button
            color="accent"
            (click)="resetTimer()">Reset Timer</button>
  </div>
  <!-- timer info block -->
  <div class="timer-info">
    <span *ngIf="timeCounted?.hours"> {{ timeCounted.hours }} Hours </span>
    <span *ngIf="timeCounted?.minutes">
      {{ timeCounted.minutes }} Minutes
    </span>
    <span> {{ timeCounted?.seconds || 0 }} Seconds </span>
  </div>
  <!-- timer info block end -->
</div>