/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: Raleway;
}

$primary: #673ab7;

html, body{
    font-family: Raleway;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
