<!--The content below is only a placeholder and can be replaced.-->



<mat-toolbar class="toolbar"
             color="primary">
  <span  routerLink="images" class="toolbar__title">Time and Date Test Page</span>
  <span class="toolbar__big-spacer"></span>
  <span class="toolbar__item"
        routerLink="weather">Check Weather</span>
  <span class="toolbar__item"
        routerLink="timers">Use Timers</span>
</mat-toolbar>
<section class="section">
  <!-- date -->
  <div class="date">
    <div>
      Today's Date -- <span class="date__body">{{ date | date: 'medium' }}</span>
    </div>
  </div>
  <main class="quote">
    <div class="quote__heading">Quote of the Day:</div>
    <div *ngIf="error" class="quote__error">{{errorMessage}}</div>
    <div *ngIf="inProgress" class="quote__progress">Getting Quote...</div>
    <div *ngIf="(quote$ | async) as quote"
         class="quote__body">
      <div class="quote__content">"{{ quote.content }}"</div>
      <div class="quote__author">{{ quote.source }}</div>
      <button (click)="newQuote()"
              mat-raised-button
              color="accent">Meh - Try Again</button>
    </div>
  </main>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</section>
<footer>
  <div class="footer-info">Powered by Docker, Nginx and Angular</div>
  <div class="spacer"></div>
</footer>