@import 'variables';

:host {
  font-size: 1rem;
}

.toolbar {
  &__title {
    font-size: 2rem;
    margin: 0 1em;
  }
  &__item {
    margin-left: 1em;
    margin-right: 4em;
  }
  &__big-spacer {
    flex: 1;
  }
}


.section{
 
  padding: 1em;
  margin: auto;
 

}

.date{
  text-align: center;
  font-size: 3em;
  padding:1em 0;
  color: $primary;
  max-width: 60em;
  &__body{
    color: black;
  }

}

.quote {
  margin: auto;
  min-height: 14em;
  max-width: 60em;
  &__heading {
    font-weight: bold;
    padding: 0.5em 0;
    font-size: 2em;
  }
  &__content {
    font-size: 1.5em;
    max-width: 800px;
    padding-bottom: 0.5em;
  }

  &__author {
    margin-bottom: 0.25em;
    color: darken($primary, 20%);
    font-style: italic;
  }
  &__button {
    margin-top: 1em;
    span {
      font-size: 1.25em;
      background: $primary;
      color: white;
      text-transform: uppercase;
      padding: 0.25em;
      
    }
    span:hover {
      background: darken($primary, 15%);
    }
  }
}


.content {
  display: block;
  padding-bottom: 10em;
}

// styles footer.
footer {
  display: flex;
  background: #eee;
  width: 100%;
  padding: 1em;
  position: fixed;
  left: 1px;
  bottom: 1px;
  border: 1px solid gray;
  .spacer {
    flex: 1;
  }
}
