<!--The content below is only a placeholder and can be replaced.-->

<div class="title">Time and Date Test Page</div>
<section>
  <!-- date -->
  <div class="date">
    <div>
      Today's Date -- <span>{{ date | date: 'medium' }}</span>
    </div>
  </div>

  <main class="quote-section">
    <div class="quote-heading">Quote of the Day:</div>
    <div *ngIf="(quote$ | async) as quote" class="quote">
      <div class="quote-body">"{{ quote.content }}"</div>
      <div class="quote-author">{{ quote.source }}</div>
      <div (click)="newQuote()" class="different">
        <span>Meh - try again</span>
      </div>
    </div>
  </main>

  <!-- countdown timer -->
  <app-count-down-timer
    (triggerClear)="clear()"
    (triggerCountDown)="startCountDown()"
    [timeLeft]="timeLeft"
    [isActive]="isActive"
    [timerForm]="timerForm"
  ></app-count-down-timer>

  <!-- end of countdown timer -->
  <!-- timer -->
  <app-basic-timer
    [timeCounted]="timeCounted"
    (triggerTimer)="startTimer()"
    (triggerTimerReset)="resetTimer()"
    (triggerTimerStop)="stopTimer()"
  ></app-basic-timer>

  <!-- end timer -->
  <!-- weather section. -->
  <div class="weather-container">
    <div class="weather-title">Check Weather In Your Area:</div>
    <!-- weather buttons -->
    <div class="button-holder">
      <app-basic-button
        class="weather"
        *ngIf="!(weather$ | async)"
        (click)="getGeoInfo()"
      >
        Check Weather
      </app-basic-button>
      <div *ngIf="(weather$ | async)" (click)="hideWeather = !hideWeather">
        <app-basic-button   *ngIf="hideWeather">Show Weather</app-basic-button>
        <app-basic-button *ngIf="!hideWeather">Hide Weather</app-basic-button>
      </div>
      <app-basic-button [light]=true *ngIf="(weather$ | async)" (click)="getGeoInfo()">
        Refresh Info
      </app-basic-button>
    </div>
    <!-- end of wether buttons -->
    <div *ngIf="!hideWeather" class="hide-container">
      <div *ngIf="(weather$ | async) as weather" class="weather-info">
        <!-- weather component -->
        <app-weather-info [weather]="weather"> </app-weather-info>
      </div>
    </div>
  </div>
  <div class="audio-info">
    <div class="controls-title">End of Timer Sound Effect</div>
    <audio controls #audioOption>
      <source src="assets/sound/chime.mp3" type="audio/mp3" />
    </audio>
  </div>
</section>
<footer>
  <div class="footer-info">Powered by Docker, Nginx and Angular</div>
  <div class="spacer"></div>
</footer>

<router-outlet></router-outlet>
