.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hour-container,
.day-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.buttons {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
